chainer>=7.0.0
cython>=0.24
numpy>=1.15.0
tqdm
h5py
-e git+https://github.com/chantera/chainer_nn@86851a8c3224bd0b4a087d45ed75e27492a07e60#egg=chainer_nn
-e git+https://github.com/chantera/teras@413c90ba85beeaf062cb451fdb92eb4273b4d5bf#egg=teras
